In [31]:
#population by country
import pandas as pd
sf=pd.read_csv(r"C:\Users\mccmrfcs\Downloads\population_by_county.csv - population_by_county.csv.csv")
print (sf)

                County           State  2010Census  2017PopEstimate
0     Abbeville County  South Carolina       25417            24722
1        Acadia Parish       Louisiana       61773            62590
2      Accomack County        Virginia       33164            32545
3           Ada County           Idaho      392365           456849
4         Adair County            Iowa        7682             7054
...                ...             ...         ...              ...
3137       Yuma County         Arizona      195751           207534
3138       Yuma County        Colorado       10043            10075
3139     Zapata County           Texas       14018            14322
3140     Zavala County           Texas       11677            11948
3141    Ziebach County    South Dakota        2801             2756

[3142 rows x 4 columns]

In [32]:
import numpy as np

In [33]:
sf.head()

             County           State  2010Census  2017PopEstimate
0  Abbeville County  South Carolina       25417            24722
1     Acadia Parish       Louisiana       61773            62590
2   Accomack County        Virginia       33164            32545
3        Ada County           Idaho      392365           456849
4      Adair County            Iowa        7682             7054

In [34]:
#to find columns names
sf.columns

Index(['County', 'State', '2010Census', '2017PopEstimate'], dtype='object')

In [35]:
#to find states
States=sf['State'].count()
print(States)

3142

In [36]:
#list of all thes states
list=sf['State'].tolist()
list

['South Carolina',
 'Louisiana',
 'Virginia',
 'Idaho',
 'Iowa',
 'Kentucky',
 'Missouri',
 'Oklahoma',
 'Colorado',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Mississippi',
 'Nebraska',
 'North Dakota',
 'Ohio',
 'Pennsylvania',
 'Washington',
 'Wisconsin',
 'Vermont',
 'South Carolina',
 'Minnesota',
 'Florida',
 'North Carolina',
 'California',
 'Colorado',
 'New York',
 'Wyoming',
 'Virginia',
 'Michigan',
 'Mississippi',
 'Alaska',
 'Alaska',
 'Illinois',
 'North Carolina',
 'Virginia',
 'Oklahoma',
 'Michigan',
 'Iowa',
 'Michigan',
 'Maryland',
 'New York',
 'North Carolina',
 'Virginia',
 'Pennsylvania',
 'Indiana',
 'Kansas',
 'Kentucky',
 'Ohio',
 'Louisiana',
 'South Carolina',
 'Michigan',
 'California',
 'California',
 'Virginia',
 'Virginia',
 'Mississippi',
 'Alaska',
 'Kansas',
 'Kentucky',
 'South Carolina',
 'Tennessee',
 'Texas',
 'Missouri',
 'Texas',
 'Maine',
 'Texas',
 'Maryland',
 'Minnesota',
 'North Carolina',
 'Nebraska',
 'Michigan',
 'Arizona',
 'Iowa',
 'Georgia',
 'Virginia',
 'Texas',
 'Colorado',
 'Texas',
 'Colorado',
 'Michigan',
 'Arkansas',
 'Virginia',
 'Pennsylvania',
 'Texas',
 'Maine',
 'Nebraska',
 'Louisiana',
 'North Carolina',
 'Ohio',
 'Wisconsin',
 'Arkansas',
 'Ohio',
 'Washington',
 'Louisiana',
 'Texas',
 'Kansas',
 'Missouri',
 'Ohio',
 'Georgia',
 'New Jersey',
 'Oklahoma',
 'Mississippi',
 'Missouri',
 'Iowa',
 'Ohio',
 'Virginia',
 'South Dakota',
 'Texas',
 'Alabama',
 'North Carolina',
 'Louisiana',
 'Colorado',
 'Georgia',
 'Texas',
 'Florida',
 'Georgia',
 'Oregon',
 'Alabama',
 'Georgia',
 'Kentucky',
 'Maryland',
 'Maryland',
 'South Carolina',
 'Texas',
 'Georgia',
 'Nebraska',
 'Idaho',
 'Michigan',
 'Kansas',
 'Alabama',
 'West Virginia',
 'North Dakota',
 'Massachusetts',
 'South Carolina',
 'Kentucky',
 'Wisconsin',
 'Georgia',
 'Michigan',
 'Missouri',
 'Indiana',
 'Kansas',
 'Missouri',
 'Georgia',
 'Texas',
 'Missouri',
 'Kentucky',
 'Virginia',
 'Arkansas',
 'Florida',
 'Michigan',
 'Wisconsin',
 'Texas',
 'South Dakota',
 'Idaho',
 'North Carolina',
 'South Carolina',
 'Louisiana',
 'Oklahoma',
 'Pennsylvania',
 'Utah',
 'Montana',
 'Minnesota',
 'Oklahoma',
 'Pennsylvania',
 'Tennessee',
 'Virginia',
 'Texas',
 'New Hampshire',
 'Kentucky',
 'Texas',
 'Ohio',
 'Minnesota',
 'Georgia',
 'Idaho',
 'South Dakota',
 'Vermont',
 'North Dakota',
 'Colorado',
 'Arkansas',
 'Indiana',
 'Iowa',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Oregon',
 'Tennessee',
 'Washington',
 'Michigan',
 'New Jersey',
 'South Carolina',
 'West Virginia',
 'Pennsylvania',
 'Massachusetts',
 'New Mexico',
 'Georgia',
 'Michigan',
 'North Carolina',
 'Alaska',
 'Texas',
 'Alabama',
 'Georgia',
 'Louisiana',
 'Montana',
 'Wyoming',
 'Minnesota',
 'North Dakota',
 'Idaho',
 'Iowa',
 'Indiana',
 'North Carolina',
 'Idaho',
 'Montana',
 'Nebraska',
 'Oklahoma',
 'Pennsylvania',
 'Texas',
 'Virginia',
 'Georgia',
 'Tennessee',
 'Alabama',
 'Tennessee',
 'Minnesota',
 'Idaho',
 'Mississippi',
 'Missouri',
 'South Dakota',
 'Illinois',
 'Idaho',
 'Idaho',
 'Arkansas',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kentucky',
 'Missouri',
 'Nebraska',
 'West Virginia',
 'Texas',
 'Texas',
 'Louisiana',
 'Virginia',
 'North Dakota',
 'Colorado',
 'Idaho',
 'Kansas',
 'Kentucky',
 'Texas',
 'North Dakota',
 'Nebraska',
 'Utah',
 'Kentucky',
 'Nebraska',
 'Kentucky',
 'Kentucky',
 'Florida',
 'Pennsylvania',
 'Arkansas',
 'Tennessee',
 'Michigan',
 'Georgia',
 'West Virginia',
 'Texas',
 'Texas',
 'Kentucky',
 'Kentucky',
 'Iowa',
 'Florida',
 'Texas',
 'Texas',
 'Alaska',
 'Virginia',
 'Massachusetts',
 'Rhode Island',
 'Montana',
 'New York',
 'West Virginia',
 'South Dakota',
 'Georgia',
 'Texas',
 'New York',
 'Colorado',
 'Florida',
 'Illinois',
 'Indiana',
 'Kansas',
 'Minnesota',
 'Nebraska',
 'Ohio',
 'South Dakota',
 'Texas',
 'Wisconsin',
 'South Dakota',
 'North Carolina',
 'Virginia',
 'Georgia',
 'Oklahoma',
 'Iowa',
 'Missouri',
 'Virginia',
 'Virginia',
 'Pennsylvania',
 'Virginia',
 'Iowa',
 'Nebraska',
 'South Dakota',
 'Wisconsin',
 'Kentucky',
 'Georgia',
 'Alabama',
 'North Carolina',
 'Illinois',
 'Georgia',
 'North Carolina',
 'North Dakota',
 'North Dakota',
 'Texas',
 'New Jersey',
 'Texas',
 'Wisconsin',
 'Nebraska',
 'Alabama',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Missouri',
 'Nebraska',
 'Ohio',
 'Pennsylvania',
 'California',
 'Idaho',
 'South Dakota',
 'Georgia',
 'North Carolina',
 'West Virginia',
 'Utah',
 'Oklahoma',
 'Louisiana',
 'California',
 'Louisiana',
 'Kentucky',
 'Missouri',
 'North Carolina',
 'Texas',
 'Louisiana',
 'Vermont',
 'Alabama',
 'Arkansas',
 'Florida',
 'Georgia',
 'Illinois',
 'Iowa',
 'Michigan',
 'Mississippi',
 'South Carolina',
 'Texas',
 'West Virginia',
 'Texas',
 'Missouri',
 'Kentucky',
 'Wisconsin',
 'Maryland',
 'Idaho',
 'Pennsylvania',
 'Georgia',
 'Missouri',
 'New Jersey',
 'North Carolina',
 'Pennsylvania',
 'Texas',
 'Louisiana',
 'Texas',
 'Kentucky',
 'South Dakota',
 'Tennessee',
 'Virginia',
 'Wyoming',
 'Oklahoma',
 'Georgia',
 'Tennessee',
 'Idaho',
 'Missouri',
 'New Jersey',
 'Montana',
 'Pennsylvania',
 'Utah',
 'Wyoming',
 'Idaho',
 'Kentucky',
 'Minnesota',
 'Maryland',
 'Virginia',
 'Arkansas',
 'Georgia',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kentucky',
 'Maryland',
 'Mississippi',
 'Missouri',
 'New Hampshire',
 'Ohio',
 'Tennessee',
 'Virginia',
 'Nevada',
 'Texas',
 'Kentucky',
 'Missouri',
 'Montana',
 'Oklahoma',
 'Tennessee',
 'North Carolina',
 'Minnesota',
 'Montana',
 'Kentucky',
 'Illinois',
 'Indiana',
 'Iowa',
 'Michigan',
 'Minnesota',
 'Missouri',
 'Nebraska',
 'North Dakota',
 'Texas',
 'Idaho',
 'Texas',
 'North Carolina',
 'Louisiana',
 'North Carolina',
 'Georgia',
 'New Mexico',
 'New York',
 'North Dakota',
 'New York',
 'Maryland',
 'Iowa',
 'Missouri',
 'Nebraska',
 'Pennsylvania',
 'Iowa',
 'Colorado',
 'Alabama',
 'Texas',
 'Illinois',
 'Ohio',
 'Missouri',
 'Virginia',
 'Maryland',
 'South Dakota',
 'South Carolina',
 'Michigan',
 'Florida',
 'Virginia',
 'Virginia',
 'Georgia',
 'Kansas',
 'Nebraska',
 'Georgia',
 'North Carolina',
 'Georgia',
 'Georgia',
 'Kansas',
 'New York',
 'New Mexico',
 'Tennessee',
 'Michigan',
 'Washington',
 'New York',
 'New York',
 'Alabama',
 'Georgia',
 'Iowa',
 'Kansas',
 'North Carolina',
 'Oklahoma',
 'South Carolina',
 'Texas',
 'Nebraska',
 'Virginia',
 'New Hampshire',
 'Pennsylvania',
 'South Carolina',
 'Tennessee',
 'South Carolina',
 'Virginia',
 'Colorado',
 'Kansas',
 'Nebraska',
 'Iowa',
 'Mississippi',
 'Arkansas',
 'Texas',
 'Alabama',
 'Michigan',
 'Minnesota',
 'Wisconsin',
 'Minnesota',
 'Vermont',
 'Alabama',
 'Mississippi',
 'Oklahoma',
 'Montana',
 'North Carolina',
 'Illinois',
 'Kentucky',
 'Missouri',
 'Nevada',
 'New Mexico',
 'Oklahoma',
 'Florida',
 'Oregon',
 'Mississippi',
 'Tennessee',
 'Louisiana',
 'Washington',
 'Michigan',
 'South Carolina',
 'Pennsylvania',
 'Arkansas',
 'Idaho',
 'Illinois',
 'Indiana',
 'Kansas',
 'Kentucky',
 'Missouri',
 'Nevada',
 'Ohio',
 'South Dakota',
 'Washington',
 'Wisconsin',
 'Alabama',
 'Georgia',
 'Iowa',
 'Mississippi',
 'Virginia',
 'Oregon',
 'Alabama',
 'Arkansas',
 'Florida',
 'Georgia',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Nebraska',
 'North Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'West Virginia',
 'Georgia',
 'Iowa',
 'Colorado',
 'Pennsylvania',
 'Idaho',
 'Minnesota',
 'Alabama',
 'Arkansas',
 'Ohio',
 'Arkansas',
 'North Carolina',
 'Oklahoma',
 'Georgia',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kentucky',
 'Michigan',
 'Missouri',
 'New York',
 'Ohio',
 'Pennsylvania',
 'Kansas',
 'Mississippi',
 'Oklahoma',
 'Georgia',
 'Arizona',
 'Texas',
 'Tennessee',
 'Arizona',
 'South Dakota',
 'Alabama',
 'Georgia',
 'Tennessee',
 'Kansas',
 'Texas',
 'Alabama',
 'Missouri',
 'Texas',
 'Illinois',
 'Nebraska',
 'New Mexico',
 'South Carolina',
 'Florida',
 'Texas',
 'Texas',
 'Virginia',
 'Texas',
 'Georgia',
 'Arkansas',
 'Florida',
 'Georgia',
 'New York',
 'Oregon',
 'Pennsylvania',
 'Washington',
 'Wisconsin',
 'Ohio',
 'North Carolina',
 'California',
 'Texas',
 'Kansas',
 'Oklahoma',
 'Texas',
 'Texas',
 'Louisiana',
 'Alabama',
 'Colorado',
 'California',
 'Wyoming',
 'Arkansas',
 'Georgia',
 'Illinois',
 'Minnesota',
 'Texas',
 'Missouri',
 'New Hampshire',
 'Oregon',
 'Alabama',
 'Mississippi',
 'South Dakota',
 'New York',
 'Texas',
 'Ohio',
 'Colorado',
 'Texas',
 'Oklahoma',
 'Minnesota',
 'Virginia',
 'Alabama',
 'Mississippi',
 'Georgia',
 'Kansas',
 'Washington',
 'Oklahoma',
 'Virginia',
 'Arkansas',
 'Texas',
 'North Carolina',
 'Arkansas',
 'Georgia',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Michigan',
 'Missouri',
 'Ohio',
 'Pennsylvania',
 'Wisconsin',
 'Oklahoma',
 'Alabama',
 'Georgia',
 'Arkansas',
 'Kentucky',
 'Tennessee',
 'Texas',
 'Oregon',
 'Wyoming',
 'Texas',
 'Arkansas',
 'Minnesota',
 'Colorado',
 'Texas',
 'Alabama',
 'Virginia',
 'Illinois',
 'Kentucky',
 'Maine',
 'New Jersey',
 'North Carolina',
 'Pennsylvania',
 'Tennessee',
 'Virginia',
 'Nebraska',
 'North Carolina',
 'New Mexico',
 'Oregon',
 'Colorado',
 'Idaho',
 'Montana',
 'Nebraska',
 'Oklahoma',
 'South Dakota',
 'Ohio',
 'Georgia',
 'Missouri',
 'Utah',
 'Minnesota',
 'Nebraska',
 'Alabama',
 'Texas',
 'Alabama',
 'Arkansas',
 'Iowa',
 'Missouri',
 'Texas',
 'Wisconsin',
 'Montana',
 'Virginia',
 'North Carolina',
 'Ohio',
 'South Carolina',
 'Pennsylvania',
 'North Carolina',
 'Tennessee',
 'North Carolina',
 'Indiana',
 'Kentucky',
 'Missouri',
 'Iowa',
 'Utah',
 'South Dakota',
 'Nebraska',
 'Georgia',
 'Montana',
 'Nebraska',
 'Texas',
 'South Dakota',
 'New Mexico',
 'Louisiana',
 'Illinois',
 'Texas',
 'Indiana',
 'Georgia',
 'Indiana',
 'Iowa',
 'Kansas',
 'Tennessee',
 'Montana',
 'Ohio',
 'Alabama',
 'Georgia',
 'Illinois',
 'Indiana',
 'Missouri',
 'Tennessee',
 'California',
 'Indiana',
 'Iowa',
 'New York',
 'Ohio',
 'Oklahoma',
 'Pennsylvania',
 'Colorado',
 'Michigan',
 'Texas',
 'Alaska',
 'Missouri',
 'Texas',
 'Colorado',
 'Iowa',
 'Oregon',
 'Arkansas',
 'Florida',
 'Mississippi',
 'Nebraska',
 'South Dakota',
 'Oklahoma',
 'South Dakota',
 'Texas',
 'Texas',
 'Virginia',
 'North Dakota',
 'Iowa',
 'Kansas',
 'Michigan',
 'Tennessee',
 'Alaska',
 'South Carolina',
 'Texas',
 'Virginia',
 'District of Columbia',
 'North Dakota',
 'Florida',
 'Nebraska',
 'West Virginia',
 'Georgia',
 'Minnesota',
 'Nebraska',
 'Wisconsin',
 'Colorado',
 'New Mexico',
 'Kansas',
 'Texas',
 'Georgia',
 'Wisconsin',
 'Maryland',
 'South Carolina',
 'Georgia',
 'Colorado',
 'Georgia',
 'Illinois',
 'Kansas',
 'Minnesota',
 'Missouri',
 'Nebraska',
 'Nevada',
 'Oregon',
 'South Dakota',
 'Washington',
 'Wisconsin',
 'Arkansas',
 'Indiana',
 'Iowa',
 'Utah',
 'Massachusetts',
 'Nebraska',
 'Missouri',
 'North Dakota',
 'Wisconsin',
 'Illinois',
 'North Carolina',
 'North Carolina',
 'New York',
 'Florida',
 'Texas',
 'Tennessee',
 'Colorado',
 'Georgia',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Texas',
 'Michigan',
 'Wisconsin',
 'Georgia',
 'Texas',
 'New Mexico',
 'North Dakota',
 'Illinois',
 'North Carolina',
 'South Carolina',
 'Kentucky',
 'South Dakota',
 'Illinois',
 'Kansas',
 'Texas',
 'Georgia',
 'Illinois',
 'California',
 'Colorado',
 'Texas',
 'Colorado',
 'Georgia',
 'Kansas',
 'Pennsylvania',
 'Indiana',
 'Nevada',
 'Kentucky',
 'Kansas',
 'Oklahoma',
 'Texas',
 'Kansas',
 'Alabama',
 'Idaho',
 'Georgia',
 'Utah',
 'Iowa',
 'Michigan',
 'North Dakota',
 'Virginia',
 'Texas',
 'New York',
 'Ohio',
 'Pennsylvania',
 'Alabama',
 'Florida',
 'Nevada',
 'Massachusetts',
 'New Jersey',
 'New York',
 'Vermont',
 'Virginia',
 'Kentucky',
 'Alabama',
 'Nevada',
 'Louisiana',
 'Georgia',
 'Alaska',
 'Virginia',
 'Virginia',
 'Connecticut',
 'Ohio',
 'South Carolina',
 'South Dakota',
 'Montana',
 'Virginia',
 'Texas',
 'Georgia',
 'Texas',
 'Minnesota',
 'South Dakota',
 'Arkansas',
 'Virginia',
 'Alabama',
 'Georgia',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kentucky',
 'Ohio',
 'Pennsylvania',
 'Tennessee',
 'Texas',
 'West Virginia',
 'Tennessee',
 'Montana',
 'Washington',
 'Minnesota',
 'Nebraska',
 'Kansas',
 'Texas',
 'Florida',
 'Montana',
 'Kentucky',
 'South Carolina',
 'Wisconsin',
 'Georgia',
 'Indiana',
 'Iowa',
 'Kentucky',
 'Texas',
 'Virginia',
 'Virginia',
 'Texas',
 'Wisconsin',
 'Illinois',
 'Kansas',
 'Pennsylvania',
 'Wisconsin',
 'Mississippi',
 'Georgia',
 'North Carolina',
 'Texas',
 'North Dakota',
 'Indiana',
 'Virginia',
 'Alabama',
 'Arkansas',
 'Florida',
 'Georgia',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Maine',
 'Massachusetts',
 'Mississippi',
 'Missouri',
 'Nebraska',
 'New York',
 'North Carolina',
 'Ohio',
 'Pennsylvania',
 'Tennessee',
 'Texas',
 'Vermont',
 'Virginia',
 'Washington',
 'Louisiana',
 'Maryland',
 'Virginia',
 'Virginia',
 'Minnesota',
 'Texas',
 'Colorado',
 'Idaho',
 'Iowa',
 'Wyoming',
 'California',
 'Texas',
 'Nebraska',
 'Arkansas',
 'Georgia',
 'Illinois',
 'Indiana',
 'Kentucky',
 'New York',
 'Ohio',
 'Pennsylvania',
 'Nebraska',
 ...]

In [50]:
#5 country names
common_countries=sf['County'].value_counts().head(5)
common_countries

County
Washington County    30
Jefferson County     25
Franklin County      24
Lincoln County       23
Jackson County       23
Name: count, dtype: int64

In [51]:
#what are the top 5 most populated Countries according to the 2010 census?
most_populated_countries=sf['2010Census'].nlargest(5)
most_populated_countries

1713    9818605
628     5194675
1209    4092459
1784    3817117
2501    3095313
Name: 2010Census, dtype: int64

In [52]:
#how many countyries have 2010 populations greater than 1 million
len(sf[sf['2010Census']>1000000])

39

In [54]:
sf['new_col = (2010Census - 2017PopEstimate)/100']=(sf['2010Census'] - sf['2017PopEstimate'])/100
sf

,County,State,2010Census,2017PopEstimate,new_col = (2010Census - 2017PopEstimate)/100
0,Abbeville County,South Carolina,25417,24722,6.95
1,Acadia Parish,Louisiana,61773,62590,-8.17
2,Accomack County,Virginia,33164,32545,6.19
3,Ada County,Idaho,392365,456849,-644.84
4,Adair County,Iowa,7682,7054,6.28
...,...,...,...,...,...
3137,Yuma County,Arizona,195751,207534,-117.83
3138,Yuma County,Colorado,10043,10075,-0.32
3139,Zapata County,Texas,14018,14322,-3.04
3140,Zavala County,Texas,11677,11948,-2.71
3141,Ziebach County,South Dakota,2801,2756,0.45

In [55]:
from scipy.stats import pearsonr
corr,_=pearsonr(sf['2010Census'],sf['2017PopEstimate'])
corr

0.9987582035845396

In [63]:
#part B
#gold GLD,nifty NIFTY
import yfinance as yf
gold = yf.Ticker("GLD").history(start="2023-03-13",end="2023-04-13")
gold

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2023-03-13 00:00:00-04:00,176.660004,178.020004,176.300003,177.860001,20554400,0.0,0.0,0.0
2023-03-14 00:00:00-04:00,177.350006,177.589996,176.210007,176.830002,10019000,0.0,0.0,0.0
2023-03-15 00:00:00-04:00,178.860001,180.130005,177.490005,178.210007,14546100,0.0,0.0,0.0
2023-03-16 00:00:00-04:00,179.509995,179.649994,177.869995,178.570007,10762200,0.0,0.0,0.0
2023-03-17 00:00:00-04:00,181.020004,184.809998,180.770004,183.770004,24156300,0.0,0.0,0.0
2023-03-20 00:00:00-04:00,184.190002,184.539993,182.740005,183.839996,11845700,0.0,0.0,0.0
2023-03-21 00:00:00-04:00,182.649994,182.729996,179.899994,180.369995,10734500,0.0,0.0,0.0
2023-03-22 00:00:00-04:00,180.399994,183.940002,180.279999,183.440002,11969600,0.0,0.0,0.0
2023-03-23 00:00:00-04:00,183.910004,186.240005,183.600006,185.740005,11347100,0.0,0.0,0.0
2023-03-24 00:00:00-04:00,185.610001,185.990005,183.619995,183.649994,9245900,0.0,0.0,0.0
2023-03-27 00:00:00-04:00,181.149994,182.149994,180.690002,181.949997,6925000,0.0,0.0,0.0
2023-03-28 00:00:00-04:00,182.309998,183.619995,182.119995,183.440002,6202600,0.0,0.0,0.0
2023-03-29 00:00:00-04:00,182.490005,183.270004,182.240005,182.529999,4996500,0.0,0.0,0.0
2023-03-30 00:00:00-04:00,182.750000,184.440002,182.550003,184.179993,6360300,0.0,0.0,0.0
2023-03-31 00:00:00-04:00,184.110001,184.419998,182.800003,183.220001,8003300,0.0,0.0,0.0
2023-04-03 00:00:00-04:00,183.850006,185.039993,183.320007,184.539993,9206600,0.0,0.0,0.0
2023-04-04 00:00:00-04:00,184.720001,188.229996,184.660004,187.979996,13765400,0.0,0.0,0.0
2023-04-05 00:00:00-04:00,188.339996,188.860001,186.779999,187.830002,11440800,0.0,0.0,0.0
2023-04-06 00:00:00-04:00,186.889999,187.259995,185.949997,186.490005,6648400,0.0,0.0,0.0
2023-04-10 00:00:00-04:00,185.179993,185.360001,184.190002,185.110001,6408100,0.0,0.0,0.0
2023-04-11 00:00:00-04:00,185.910004,186.509995,185.639999,186.279999,6031500,0.0,0.0,0.0
2023-04-12 00:00:00-04:00,187.539993,187.660004,185.970001,187.190002,10000900,0.0,0.0,0.0

In [65]:
import pandas as pd
gold_1D = gold.values.flatten()
gold_1D

array([1.76660004e+02, 1.78020004e+02, 1.76300003e+02, 1.77860001e+02,
       2.05544000e+07, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.77350006e+02, 1.77589996e+02, 1.76210007e+02, 1.76830002e+02,
       1.00190000e+07, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.78860001e+02, 1.80130005e+02, 1.77490005e+02, 1.78210007e+02,
       1.45461000e+07, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.79509995e+02, 1.79649994e+02, 1.77869995e+02, 1.78570007e+02,
       1.07622000e+07, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.81020004e+02, 1.84809998e+02, 1.80770004e+02, 1.83770004e+02,
       2.41563000e+07, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.84190002e+02, 1.84539993e+02, 1.82740005e+02, 1.83839996e+02,
       1.18457000e+07, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.82649994e+02, 1.82729996e+02, 1.79899994e+02, 1.80369995e+02,
       1.07345000e+07, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.80399994e+02, 1.83940002e+02, 1.80279999e+02, 1.83440002e+02,
       1.19696000e+07, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.83910004e+02, 1.86240005e+02, 1.83600006e+02, 1.85740005e+02,
       1.13471000e+07, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.85610001e+02, 1.85990005e+02, 1.83619995e+02, 1.83649994e+02,
       9.24590000e+06, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.81149994e+02, 1.82149994e+02, 1.80690002e+02, 1.81949997e+02,
       6.92500000e+06, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.82309998e+02, 1.83619995e+02, 1.82119995e+02, 1.83440002e+02,
       6.20260000e+06, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.82490005e+02, 1.83270004e+02, 1.82240005e+02, 1.82529999e+02,
       4.99650000e+06, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.82750000e+02, 1.84440002e+02, 1.82550003e+02, 1.84179993e+02,
       6.36030000e+06, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.84110001e+02, 1.84419998e+02, 1.82800003e+02, 1.83220001e+02,
       8.00330000e+06, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.83850006e+02, 1.85039993e+02, 1.83320007e+02, 1.84539993e+02,
       9.20660000e+06, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.84720001e+02, 1.88229996e+02, 1.84660004e+02, 1.87979996e+02,
       1.37654000e+07, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.88339996e+02, 1.88860001e+02, 1.86779999e+02, 1.87830002e+02,
       1.14408000e+07, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.86889999e+02, 1.87259995e+02, 1.85949997e+02, 1.86490005e+02,
       6.64840000e+06, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.85179993e+02, 1.85360001e+02, 1.84190002e+02, 1.85110001e+02,
       6.40810000e+06, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.85910004e+02, 1.86509995e+02, 1.85639999e+02, 1.86279999e+02,
       6.03150000e+06, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.87539993e+02, 1.87660004e+02, 1.85970001e+02, 1.87190002e+02,
       1.00009000e+07, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00])

In [83]:
series =pd.Series(gold_1D)
series

0      1.766600e+02
1      1.780200e+02
2      1.763000e+02
3      1.778600e+02
4      2.055440e+07
           ...
171    1.871900e+02
172    1.000090e+07
173    0.000000e+00
174    0.000000e+00
175    0.000000e+00
Length: 176, dtype: float64

In [84]:
nifty = yf.Ticker("^NSEI").history(start="2023-03-13",end="2023-04-13")
nifty

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-03-13 00:00:00+05:30,17421.900391,17529.900391,17113.449219,17154.300781,254900,0.0,0.0
2023-03-14 00:00:00+05:30,17160.550781,17224.650391,16987.099609,17043.300781,290600,0.0,0.0
2023-03-15 00:00:00+05:30,17166.449219,17211.349609,16938.900391,16972.150391,248200,0.0,0.0
2023-03-16 00:00:00+05:30,16994.650391,17062.449219,16850.150391,16985.599609,349800,0.0,0.0
2023-03-17 00:00:00+05:30,17111.800781,17145.800781,16958.150391,17100.050781,408100,0.0,0.0
2023-03-20 00:00:00+05:30,17066.599609,17066.599609,16828.349609,16988.400391,241800,0.0,0.0
2023-03-21 00:00:00+05:30,17060.400391,17127.699219,17016.000000,17107.500000,246700,0.0,0.0
2023-03-22 00:00:00+05:30,17177.449219,17207.250000,17107.849609,17151.900391,0,0.0,0.0
2023-03-23 00:00:00+05:30,17097.400391,17205.400391,17045.300781,17076.900391,219200,0.0,0.0
2023-03-24 00:00:00+05:30,17076.199219,17109.449219,16917.349609,16945.050781,228000,0.0,0.0
2023-03-27 00:00:00+05:30,16984.300781,17091.000000,16918.550781,16985.699219,218400,0.0,0.0
2023-03-28 00:00:00+05:30,17031.750000,17061.750000,16913.750000,16951.699219,238800,0.0,0.0
2023-03-29 00:00:00+05:30,16977.300781,17126.150391,16940.599609,17080.699219,345900,0.0,0.0
2023-03-31 00:00:00+05:30,17210.349609,17381.599609,17204.650391,17359.750000,263900,0.0,0.0
2023-04-03 00:00:00+05:30,17427.949219,17428.050781,17312.750000,17398.050781,230200,0.0,0.0
2023-04-05 00:00:00+05:30,17422.300781,17570.550781,17402.699219,17557.050781,248300,0.0,0.0
2023-04-06 00:00:00+05:30,17533.849609,17638.699219,17502.849609,17599.150391,242700,0.0,0.0
2023-04-10 00:00:00+05:30,17634.900391,17694.099609,17597.949219,17624.050781,254800,0.0,0.0
2023-04-11 00:00:00+05:30,17704.800781,17748.750000,17655.150391,17722.300781,304300,0.0,0.0
2023-04-12 00:00:00+05:30,17759.550781,17825.750000,17717.250000,17812.400391,232800,0.0,0.0

In [85]:
nifty_1D = nifty.values.flatten()
nifty

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-03-13 00:00:00+05:30,17421.900391,17529.900391,17113.449219,17154.300781,254900,0.0,0.0
2023-03-14 00:00:00+05:30,17160.550781,17224.650391,16987.099609,17043.300781,290600,0.0,0.0
2023-03-15 00:00:00+05:30,17166.449219,17211.349609,16938.900391,16972.150391,248200,0.0,0.0
2023-03-16 00:00:00+05:30,16994.650391,17062.449219,16850.150391,16985.599609,349800,0.0,0.0
2023-03-17 00:00:00+05:30,17111.800781,17145.800781,16958.150391,17100.050781,408100,0.0,0.0
2023-03-20 00:00:00+05:30,17066.599609,17066.599609,16828.349609,16988.400391,241800,0.0,0.0
2023-03-21 00:00:00+05:30,17060.400391,17127.699219,17016.000000,17107.500000,246700,0.0,0.0
2023-03-22 00:00:00+05:30,17177.449219,17207.250000,17107.849609,17151.900391,0,0.0,0.0
2023-03-23 00:00:00+05:30,17097.400391,17205.400391,17045.300781,17076.900391,219200,0.0,0.0
2023-03-24 00:00:00+05:30,17076.199219,17109.449219,16917.349609,16945.050781,228000,0.0,0.0
2023-03-27 00:00:00+05:30,16984.300781,17091.000000,16918.550781,16985.699219,218400,0.0,0.0
2023-03-28 00:00:00+05:30,17031.750000,17061.750000,16913.750000,16951.699219,238800,0.0,0.0
2023-03-29 00:00:00+05:30,16977.300781,17126.150391,16940.599609,17080.699219,345900,0.0,0.0
2023-03-31 00:00:00+05:30,17210.349609,17381.599609,17204.650391,17359.750000,263900,0.0,0.0
2023-04-03 00:00:00+05:30,17427.949219,17428.050781,17312.750000,17398.050781,230200,0.0,0.0
2023-04-05 00:00:00+05:30,17422.300781,17570.550781,17402.699219,17557.050781,248300,0.0,0.0
2023-04-06 00:00:00+05:30,17533.849609,17638.699219,17502.849609,17599.150391,242700,0.0,0.0
2023-04-10 00:00:00+05:30,17634.900391,17694.099609,17597.949219,17624.050781,254800,0.0,0.0
2023-04-11 00:00:00+05:30,17704.800781,17748.750000,17655.150391,17722.300781,304300,0.0,0.0
2023-04-12 00:00:00+05:30,17759.550781,17825.750000,17717.250000,17812.400391,232800,0.0,0.0

In [86]:
series=pd.Series(nifty_1D)
series

0       17421.900391
1       17529.900391
2       17113.449219
3       17154.300781
4      254900.000000
           ...
135     17717.250000
136     17812.400391
137    232800.000000
138         0.000000
139         0.000000
Length: 140, dtype: float64

In [87]:
#load gold and nifty 50 closing prices(march 13 - april 13,2023) into pandas series. print the first 5 prices for each and their data ty7pes
gold_close=gold['Close']
print(gold_close)

Date
2023-03-13 00:00:00-04:00    177.860001
2023-03-14 00:00:00-04:00    176.830002
2023-03-15 00:00:00-04:00    178.210007
2023-03-16 00:00:00-04:00    178.570007
2023-03-17 00:00:00-04:00    183.770004
2023-03-20 00:00:00-04:00    183.839996
2023-03-21 00:00:00-04:00    180.369995
2023-03-22 00:00:00-04:00    183.440002
2023-03-23 00:00:00-04:00    185.740005
2023-03-24 00:00:00-04:00    183.649994
2023-03-27 00:00:00-04:00    181.949997
2023-03-28 00:00:00-04:00    183.440002
2023-03-29 00:00:00-04:00    182.529999
2023-03-30 00:00:00-04:00    184.179993
2023-03-31 00:00:00-04:00    183.220001
2023-04-03 00:00:00-04:00    184.539993
2023-04-04 00:00:00-04:00    187.979996
2023-04-05 00:00:00-04:00    187.830002
2023-04-06 00:00:00-04:00    186.490005
2023-04-10 00:00:00-04:00    185.110001
2023-04-11 00:00:00-04:00    186.279999
2023-04-12 00:00:00-04:00    187.190002
Name: Close, dtype: float64

In [88]:
gold_close_1D = gold_close.values.flatten()
print(gold_close_1D)

[177.86000061 176.83000183 178.21000671 178.57000732 183.77000427
 183.83999634 180.36999512 183.44000244 185.74000549 183.6499939
 181.94999695 183.44000244 182.52999878 184.17999268 183.22000122
 184.53999329 187.97999573 187.83000183 186.49000549 185.11000061
 186.27999878 187.19000244]

In [89]:
series=pd.Series(gold_close_1D)
series

0     177.860001
1     176.830002
2     178.210007
3     178.570007
4     183.770004
5     183.839996
6     180.369995
7     183.440002
8     185.740005
9     183.649994
10    181.949997
11    183.440002
12    182.529999
13    184.179993
14    183.220001
15    184.539993
16    187.979996
17    187.830002
18    186.490005
19    185.110001
20    186.279999
21    187.190002
dtype: float64

In [90]:
top_5= series.head(5)
top_5

0    177.860001
1    176.830002
2    178.210007
3    178.570007
4    183.770004
dtype: float64

In [91]:
nifty_close = nifty['Close']
print(nifty_close)

Date
2023-03-13 00:00:00+05:30    17154.300781
2023-03-14 00:00:00+05:30    17043.300781
2023-03-15 00:00:00+05:30    16972.150391
2023-03-16 00:00:00+05:30    16985.599609
2023-03-17 00:00:00+05:30    17100.050781
2023-03-20 00:00:00+05:30    16988.400391
2023-03-21 00:00:00+05:30    17107.500000
2023-03-22 00:00:00+05:30    17151.900391
2023-03-23 00:00:00+05:30    17076.900391
2023-03-24 00:00:00+05:30    16945.050781
2023-03-27 00:00:00+05:30    16985.699219
2023-03-28 00:00:00+05:30    16951.699219
2023-03-29 00:00:00+05:30    17080.699219
2023-03-31 00:00:00+05:30    17359.750000
2023-04-03 00:00:00+05:30    17398.050781
2023-04-05 00:00:00+05:30    17557.050781
2023-04-06 00:00:00+05:30    17599.150391
2023-04-10 00:00:00+05:30    17624.050781
2023-04-11 00:00:00+05:30    17722.300781
2023-04-12 00:00:00+05:30    17812.400391
Name: Close, dtype: float64

In [92]:
nifty_close_1D = nifty_close.values.flatten()
print(nifty_close_1D)

[17154.30078125 17043.30078125 16972.15039062 16985.59960938
 17100.05078125 16988.40039062 17107.5        17151.90039062
 17076.90039062 16945.05078125 16985.69921875 16951.69921875
 17080.69921875 17359.75       17398.05078125 17557.05078125
 17599.15039062 17624.05078125 17722.30078125 17812.40039062]

In [93]:
series= pd.Series(nifty_close_1D)
series

0     17154.300781
1     17043.300781
2     16972.150391
3     16985.599609
4     17100.050781
5     16988.400391
6     17107.500000
7     17151.900391
8     17076.900391
9     16945.050781
10    16985.699219
11    16951.699219
12    17080.699219
13    17359.750000
14    17398.050781
15    17557.050781
16    17599.150391
17    17624.050781
18    17722.300781
19    17812.400391
dtype: float64

In [95]:
#load gold and Nifty prices and check their lengths. If unequal,align them by selecting common dates using index.intersection.print the aligned Series
Series_gold

NameError: name 'Series_gold' is not defined

In [ ]:
S